.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 15vh;
    border-bottom: solid 1px #e0e0e0;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__brand>* {
    margin: 0 5px;
}

.navbar__brand-logo {
    height: 40px;
    width: 40px;
}

/* .navbar__brand-title{

} */

.navbar__content {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}


.navbar__item {
    list-style: none;
    margin: 0 15px;
}

.navbar__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar__actions {
    display: flex;
    align-items: center;
}

.navbar__button {
    margin-left: 15px;
    padding: 8px 16px;
    border: solid 1.5px #000000;
    border-radius: 2vh;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.navbar__button--primary {
    background-color: #000000;
    color: #ffffff;
}

.navbar__button:hover,
.navbar__button--primary:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 15px #ff009075;

    transition: all 0.3s ease-in-out;
}