<nav class="navbar">
    <div class="navbar__brand">
        <div class="navbar__brand-logo"></div>
        <h1 class="navbar__brand-title">Hotelar</h1>
    </div>

    <div class="navbar__content">
        <ul class="navbar__list">
            <li class="navbar__item"><a class="navbar__link" href="">Contáctanos</a></li>
            <li class="navbar__item"><a class="navbar__link" href="">Ayuda</a></li>
        </ul>

        <div class="navbar__actions">
            <button class="navbar__button">Regístrate</button>
            <button class="navbar__button navbar__button--primary">Iniciar sesión</button>
        </div>
    </div>
</nav>