.wrapper{
    background-color: #E4D6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 100vh;
}

.wrapper-login{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    height: 58rem;
    border-radius: 1rem;
    padding: 4rem 3rem;
    width: 45rem;
}

.hotelar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title{
    font-size: 3rem;
}

.login-description{
    display: grid;
    gap: 1rem;
}

.inputs{
    display: grid;
    gap: 2rem;
}

.input{
    width: 100%;
    padding: 1rem;
    background-color: #F8F8F8;
    border: .2rem solid #7A7A7A;
}

.remember-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    accent-color: #8747FF;
}

.btn{
    background-color: #8747FF;
    padding: 1rem;
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
}

.wrapper-hotelar{
    display: flex;
    flex-direction: column;
    height: 50rem;

    h1{
        font-size: 14rem;
    }
}

.login{
    text-align: center;
}

button[disabled]{
    background-color: #a583e3;
}