<footer class="footer">
    <div class="footer__inner">
        <div class="footer__col">
            <h2 class="footer__title">Productos</h2>
            <nav class="footer__nav">
                <a class="footer__link" href="">Plan básico</a>
                <a class="footer__link" href="">Plan popular</a>
                <a class="footer__link" href="">Plan premium</a>
            </nav>
        </div>

        <div class="footer__col">
            <h2 class="footer__title">Ayuda</h2>
            <nav class="footer__nav">
                <a class="footer__link" href="">Preguntas frecuentes</a>
                <a class="footer__link" href="">Tengo problemas</a>
                <a class="footer__link" href="">Me gustaría</a>
            </nav>
        </div>

        <div class="footer__col">
            <h2 class="footer__title">Términos y privacidad</h2>
            <nav class="footer__nav">
                <a class="footer__link" href="">Cookies</a>
                <a class="footer__link" href="">Privacidad</a>
            </nav>
        </div>

    </div>
    <div class="footer__bottom">
        <div class="footer__col footer__col--contact">
            <h2 class="footer__title">Contáctanos:</h2>
            <div class="footer__contacts">
                <button class="footer__contact-btn footer__contact-btn--primary">hotel@gmail.com</button>
                <button class="footer__contact-btn">+57 3054868954</button>
            </div>
        </div>

        <div class="footer__col footer__col--devs">
            <h2 class="footer__title">Desarrolladores:</h2>
            <div class="footer__devs">
                <div class="footer__dev">
                    <img class="footer__dev-img" src="" alt="github">
                    <p class="footer__dev-name">Daniel Cabana</p>
                </div>
                <div class="footer__dev">
                    <img class="footer__dev-img" src="" alt="github">
                    <p class="footer__dev-name">Deivy Lujan</p>
                </div>
            </div>
        </div>
    </div>
</footer>