.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #21232F;
    color: #ffffff;
    border-radius: 20px 20px 0 0;
    padding: 5vh 0;
}

.footer__inner {
    display: flex;
}

.footer__col {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.footer__title{
    font-size: 1em;
    margin-bottom: 1vh;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2vh 0;
}

.footer__link {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
}

.footer__contacts {
    display: flex;
    padding: 2vh 0;
}

.footer__contact-btn {
    background-color: #ffffff;
    border: solid 1px #21232F;
    color: #21232F;
    cursor: pointer;
    padding: 1vh 1.5vh;
    margin: 0 5px;
    text-align: left;
    border-radius: 3px;
    transition: 0.05s ease-in-out;
}

.footer__contact-btn:hover{
    background-color: #21232F;
    color: #ffffff;
    border: solid 1px #ffffff;
    transition: 0.05s ease-in-out;
}

.footer__contact-btn--primary {
    background-color: #21232F;
    border: solid 1px #ffffff;
    color: #ffffff;
    transition: 0.05s ease-in-out;
}

.footer__contact-btn--primary:hover{
    background-color: #ffffff;
    color: #21232F;
    border: solid 1px #21232F;
    transition: 0.05s ease-in-out;
}

.footer__devs {
    display: flex;
    padding: 2vh 0;
}

.footer__dev {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.footer__dev >* {
    margin: 0 5px;
}

.footer__dev-img{
    height: 5vh;
    width: 5vh;
}

.footer__dev-name{
    text-decoration: none;
    color: #ffffff;
}

.footer__dev-name:hover{
    text-decoration: underline;
}