<div class="plan">
    <div class="plan__container">
        <div class="plan__info">
            <h1 class="plan__title">Plan</h1>
            <p class="plan__price">$ 80000</p>
            <button class="plan__button">Obtener Plan</button>
        </div>
    
        <div class="plan__benefits">
            <h1 class="plan__benefits-title">Beneficios</h1>
            <ul class="plan__benefits-list">
                <li class="plan__benefit">
                    <div class="plan__benefit-icon"></div>
                    <span class="plan__benefit-text">Beneficio 1</span>
                </li>
                <li class="plan__benefit">
                    <div class="plan__benefit-icon"></div>
                    <span class="plan__benefit-text">Beneficio 2</span>
                </li>
                <li class="plan__benefit">
                    <div class="plan__benefit-icon"></div>
                    <span class="plan__benefit-text">Beneficio 3</span>
                </li>
            </ul>
        </div>
    </div>
</div>
